*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Mulish";
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
