.samarqand_about{
    
    font-size: 30px;
    padding-top: 80px;
    .start{
        width: 800px;
        font-weight: 700;
        margin: 0 auto;
    }
    .fst-italic{
        margin-left: 100px;
        padding:20px 0px 20px 0px   ;
    }
    .fw-lighter{
        width: 800px;
        margin: 0 auto;
    }
    .image_text{
        width: 550px;
        margin-left: 250px;
        padding-top: 20px;
    }
    .buxoro_text{
        padding: 20px 0px 20px 0px;
    }
}